@model CartViewModel;
@{
    ViewData["Title"] = "Кошик";
}

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="text-end">
            @if (@Model.Items.Count > 0)
            {
                <a asp-controller="Order" asp-action="Create" class="btn btn-primary">
                    Оформити замовлення
            </a>
            }
        </div>
    </div>
</div>

<table class="table table-borderless table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Назва продукту
            </th>
            <th>
                Кількість
            </th>
            <th>
                Вартість
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var productItem in @Model.Items)
        {
            <tr>
                <td width="50%">
                    @productItem.Product.ProductName
                </td>
                <td width="50%">
                    @productItem.Quantity
                </td>
                <td width="50%">
                    @((productItem.Product.Cost * productItem.Quantity).ToString("# ### ###.00"))
                </td>
                
                 <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Cart" asp-action="Delete" asp-route-id="@productItem.Product.Id" class="btn btn-primary">Видалити</a>
                    </div>
                </td>
            </tr>
        }
        @if (@Model.Items.Count > 0)
        {
            <tr>
                <td></td>
            <td align="right">Разом:</td>
            <td>
                @Model.Total.ToString("# ### ###.00")
            </td>
        </tr>
        }
    </tbody>
</table>

